@model QuickShipWeb.Models.MST_CUSTOMER

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.PIC)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.PIC)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Modified_By)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Modified_By)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Modified_Date)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Modified_Date)
        </dd>
    
    </dl>
    
    @*@using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }*@
    <a href="#" data-toggle="modal" data-target="#deleteConfirmationModal">
        Delete
    </a>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-
                        dissmis="modal" aria-hidden="true">&time;</button>
                <h4 class="modal-title">Deletion confirmation</h4>
            </div>
            <div class="modal-body">
                <p>You're about to delete the customer '@Model.Name'.</p>
                <p>
                    <strong>Are you sure you want to continue?</strong>
                </p>
                @using (Html.BeginForm("Delete", "MST_CUSTOMER",
                            FormMethod.Post, new { @id = "delete-form", role = "form" })) {
                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        onclick="$('#delete-form').submit();">Yes, 
                delete this customer.</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">No, do not delete.</button>
            </div>
        </div>
    </div>

</div>

