@using QuickShipWeb.Helpers;
@using QuickShipWeb.Helpers.Alerts;
@using QuickShipWeb.Helpers.Panels;
@model QuickShipWeb.Models.MST_LOCATION

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Create New Location</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Remove class="form-group" to clear space(high) of this div*@
        <div>
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "hidden" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked", @class = "hidden" })
            </div>
        </div>
        
        <div>
            @Html.LabelFor(model => model.Created_By, htmlAttributes: new { @class = "hidden" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_By, new { htmlAttributes = new { @class = "hidden",
                    @Value = "tester" } })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "hidden" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "hidden",
                    @Value = DateTime.Now } })
            </div>
        </div>

        @*
        <div class="form-group">
            @Html.LabelFor(model => model.Modified_By, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_By, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Modified_By, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Modified_Date, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <p>Creating Custom Helper</p>
                @*@BootstrapHelpers.PrimaryButtonSmall("myButton", "My New Button")*@
                @BootstrapHelpers.PrimaryButtonSmall("danger", "lg", "A Large button", "myLargeButton")
                <p>By Static Method</p>
                @ButtonHelper.Button("My Button", Enums.ButtonStyle.Warning, Enums.ButtonSize.Normal)
                <p>By Extension Method</p>
                @Html.BootstrapButton("My Button", Enums.ButtonStyle.Info, Enums.ButtonSize.Normal)
                <p>Creating fluent HTML helper</p>
                @Html.Alert("Core meltdown imminent").Danger().Dismissible()
                <p>Creating self-closing helpers</p>
                @using (Html.Panel("Title", Enums.PanelStyle.Success))
                {
                    <p>Hello World</p>
                    <p>Lorem ipsum dolor sit amet, consectetur aispiad lea</p>
                }

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/App/CustomValidators.js"></script>
}
